<h1>All Bottles</h1>

<% @bottles.each do |bottle| %>
  <div class="bottle_entry">
    <i>
    <%= link_to bottle.name, bottle_path(bottle) %>
    </i> - <%= link_to bottle.appellation.name, appellation_path(bottle.appellation) %> 
    - <%= link_to bottle.producer.name, producer_path(bottle.producer) %>,
    <%= bottle.vintage %>
  </div>
<% end %>
